<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apps.home.notewidget">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".widget.WidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.INCREASE_TEXT_SIZE" />
                <action android:name="android.appwidget.action.DECREASE_TEXT_SIZE" />
                <action android:name="android.appwidget.action.CHANGE_WIDGET_MODE" />
                <action android:name="android.appwidget.action.CHANGE_THEME_MODE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_info" />
        </receiver>

        <service
            android:name=".widget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity
            android:name=".widget.WidgetConfigActivity"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:label="@string/title_activity_widget_config"
            android:taskAffinity="com.apps.home.NoteWidget.WidgetTask">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".widget.WidgetEditNoteActivity"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:label="@string/title_activity_widget_edit_note"
            android:taskAffinity="com.apps.home.NoteWidget.WidgetTask"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".ExportActivity"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/title_activity_export"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".widget.WidgetManualActivity"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"
            android:taskAffinity="com.apps.home.NoteWidget.WidgetTask"
            android:theme="@style/AppTheme.AlertDialog" />
    </application>

</manifest>